<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/meta'); %>

</head>

<body>

  <%- include('../partials/header'); %>

  <section class="contact-us" id="contact">
    <div class="container-sm">
      <div class="row justify-content-center">
        <div class="col-lg-6 align-self-center">
          <div id="contact">
            <form id="contact" action="/auth/login" method="post">
              <div class="row d-flex justify-content-center">
                <h2 class="mb-2 text-center">Đăng nhập</h2>
                <% if (typeof somethingWrong != 'undefined')    { %> <p class="text-danger pt-3">Có lỗi xảy ra, xin hãy thử lại</p> <% }%>
                <% if (typeof passwordWrong != 'undefined')     { %> <p class="text-danger pt-3">Mật khâu không đúng</p> <% }%>
                <% if (typeof usernameNotExists != 'undefined') { %> <p class="text-danger pt-3">Tên đăng nhập không tồn tại</p> <% }%>
              </div>
              <div class="row">
                <fieldset><input required name="username" type="text"     placeholder="Tên đăng nhập"></fieldset>
                <fieldset><input required name="password" type="password" placeholder="Mật khẩu"></fieldset>
              </div>
              
              <div class="col-lg-12 d-flex justify-content-center">
                <fieldset><button type="submit" id="form-submit" class="button">Gửi</button></fieldset>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <%- include('../partials/footer'); %>


</body>

</html>