<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/meta'); %>

</head>

<body>

  <section class="contact-us" id="contact">
    <div class="container-sm">
      <div class="row justify-content-center">
        <div class="col-lg-9 align-self-center">
          <div id="contact">
            <form id="contact" action="/auth/signup" method="post">
              <div class="row d-flex justify-content-center">
                <h2 class="mb-2 text-center">Đăng ký</h2>
                <img class="w-25 h-25" src="/assets/images/studee-logo.png">
              </div>
              <div class="row">
                <fieldset><input name="username" type="text" id="username" required placeholder="Tên đăng nhập"></fieldset>
                <fieldset><input name="password" type="password" id="password" required placeholder="Mật khẩu"></fieldset>
                <fieldset><input name="retype" type="password" id="retype" required placeholder="Nhập lại mật khẩu"></fieldset>
                <fieldset><input name="lastName" type="text" id="lastName" required placeholder="Họ"></fieldset>
                <fieldset><input name="firstName" type="text" id="firstName" required placeholder="Tên"></fieldset>
                <fieldset><input name="email" type="email" id="email" pattern="[^ @]*@[^ @]*" required placeholder="Email"></fieldset>
                <fieldset><input name="phoneNumber" type="text" id="phoneNumber" required placeholder="Số điện thoại">
                </fieldset>
                <div class="d-flex justify-content-around">
                  <div><input class="me-3" style="height: auto; width: auto;" type="radio" name="gender" value="male">Male</div>
                  <div><input class="me-3" style="height: auto; width: auto;" type="radio" name="gender" value="female">Female</div>
                </div>
                <div class="d-flex justify-content-around">
                  <div><input class="me-3" style="height: 20px; width: auto;" type="radio" name="typeUser" value="user">Người học</div>
                  <div><input class="me-3" style="height: 20px; width: auto;" type="radio" name="typeUser" value="teacher">Người dạy</div>
                </div>
              </div>
              
              <div class="col-lg-12 d-flex justify-content-center">
                <fieldset><button type="submit" id="form-submit" class="button">Đăng ký</button></fieldset>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <%- include('../partials/footer'); %>


</body>

</html>