
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo"> Studee </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="/courses/list">Toàn bộ lớp học</a></li>
            <% if (!loggedIn) { %>
              <li><a href="/auth/login">Đăng nhập</a></li>
              <li><a href="/auth/signup">Đăng ký</a></li>
            <% } else {%>
              <li><a href=<%= coursesLink %>>Các lớp học của bạn</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)">Xin Chào <%= user.name %></a>
                <ul class="sub-menu">
                  <li><a href="/profile">Hồ sơ cá nhân</a></li>
                  <li><a href="/auth/logout">Đang xuất</a></li>
                </ul>
              </li>
            <% } %>
          </ul>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>