<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        Studee
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Trang chủ</a></li>
                        <li><a href="/course">Các lớp học</a></li>
                        <li class="scroll-to-section"><a href="#apply">Đăng kí học</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Thông tin</a>
                            <ul class="sub-menu">
                                <li><a href="/course">Các lớp học sắp tới</a></li>
                                <li><a href="/course/course-details">Thông tin lớp học</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#courses">Các khoá học</a></li> 
                        <li class="scroll-to-section"><a href="#contact">Liên hệ</a></li> 
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>