<!-- Sub Header -->
<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-8">
        <div class="left-content">
          <p>Đây là website làm bởi nhóm 12</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4">
        <div class="right-icons">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">
            Studee
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section"><a href="#top" class="active">Trang chủ</a></li>
            <li><a href="/courses">Các lớp học</a></li>
            <li class="scroll-to-section"><a href="#apply">Đăng kí học</a></li>
            <li class="has-sub">
              <a href="javascript:void(0)">Thông tin</a>
              <ul class="sub-menu">
                <li><a href="/courses">Các lớp học sắp tới</a></li>
                <li><a href="/courses/course-details">Thông tin lớp học</a></li>
              </ul>
            </li>
            <li class="scroll-to-section"><a href="#courses">Các khoá học</a></li>
            <li class="scroll-to-section"><a href="#contact">Liên hệ</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>