<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('./partials/meta'); %>

</head>

<body>

  <%- include('./partials/header'); %>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
      <source src="/assets/images/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="caption">
              <h6>Xin chào các bạn đến với</h6>
              <h2>Studee - Khi Gia Sư kết nối GenZ</h2>
              <p>Là những nhà sáng lập Gen Z, chúng mình biết rằng Gen Z không những cần những người gia sư nắm vững chuyên môn mà còn là những người có thể tạo những trải nghiệm học tập thật vui tươi thoải mái tạo nhiều hứng thú cho việc học, giúp việc học trở nên vui và thú vị hơn. Từ đó chúng mình mong muốn xây dựng Studee với đội ngũ Gia Sư thoả mãn những tiêu chí tuyệt vời ấy.</p>
              <div class="main-button-red">
                <div><a href="/auth/login">Tham gia ngay!</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">

            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Best Education</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Best Teachers</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/assets/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Best Students</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="/assets/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Online Meeting</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="assets/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Best Networking</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('./partials/footer'); %>

</body>

</html>