<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <%- include('./partials/meta'); %>

    <!-- import the webpage's javascript file -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js"></script>
    <script src="https://cdn.stringee.com/sdk/web/2.2.1/stringee-web-sdk.min.js"></script>

    <style>
      .red-button {
        font-size: 13px;
        color: #fff;
        background-color: #a12c2f;
        padding: 12px 30px;
        display: inline-block;
        border-radius: 22px;
        font-weight: 500;
        text-transform: uppercase;
      }
    </style>

</head>

<body>
  <%- include('./partials/header'); %>

    <section class="upcoming-meetings" id="meetings">
      <div class="container">
        <div class="row d-flex justify-content-around">
          <div class="col-9">
            <div class="categories">
              <div class="container has-text-centered" id="app">
                <div>
                  <div class="d-flex justify-content-around">
                    <button v-if="!roomId" class='button red-button' @click='joinRoom'>Vào phòng</button>
                    <button v-if="roomId" class='button red-button' @click='publishVideo(true)'>Chia sẻ màn hình</button>
                  </div>
                  <div v-if="roomId">
                    <p>Bạn có thể gởi link này để mời người khác <a v-bind:href="roomUrl"
                        target="_blank">{{roomUrl}}</a></p>
                    <p><strong>Room ID:&nbsp;</strong>{{roomId}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="videos"></div>
      </div>
    </section>
    <%- include('./partials/footer'); %>
</body>

<script src="/assets/js/stringee-api.js"></script>
<script src="/assets/js/stringee-script.js"></script>

</html>