<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../../partials/meta'); %>

</head>

<body>

  <%- include('../../partials/header'); %>

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <form id="contact" action="/teachers/courses/create" method="post">
            <div class="row">
              <div class="col-lg-12">
                <h2>Tạo khóa học mới</h2>
              </div>
              <div class="col-lg-6">
                <p class="fw-bold m-2">Tên khóa học</p>
                <fieldset>
                  <input name="title" type="text" id="title" placeholder="Khóa học" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <p class="fw-bold m-2">Tên môn học</p>
                <fieldset>
                  <input name="subject" type="text" id="subject" placeholder="Môn học" required=>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <p class="fw-bold m-2">Trình độ</p>
                <fieldset>
                  <input name="level" type="text" id="level" placeholder="Trình độ" required=>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <p class="fw-bold m-2">Giá tiền</p>
                <fieldset>
                  <input name="price" type="number" id="price" min=0 required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <p class="fw-bold m-2">Ngày bắt đầu</p>
                <fieldset>
                  <input name="startDate" type="datetime" id="startDate" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <p class="fw-bold m-2">Thời gian bắt đầu</p>
                <fieldset>
                  <input name="startTime" type="time" id="startTime" required>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <p class="fw-bold m-2">Thời gian kết thúc</p>
                <fieldset>
                  <input name="endTime" type="time" id="endTime" required>
                </fieldset>
              </div>
              
              <div class="col-lg-12">
                <p class="fw-bold m-2">Mô tả khóa học</p>
                <fieldset>
                  <textarea name="desc" type="text" class="form-control" id="desc" placeholder="Giới thiệu về khóa học"
                    required>
                  </textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Tọa khóa học</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer'); %>
  </section>

  <%- include('../../partials/meta-footer'); %>
</body>

</html>
