<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../../partials/meta'); %>

</head>

<body>

  <%- include('../../partials/header'); %>

  <%- include('../../partials/courses-list'); %>

  <%- include('../../partials/footer'); %>
</body>

</html>
